
*{
    font-family: "Noto Nastaliq Urdu", serif;

}
        body {
            font-family: Arial, sans-serif;
            background-color: #8d8d8d;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #app {
            height: 90vh;
            width: 90%;
            background-color: #fff;
            border-radius: 1vh;
            padding: 2vh;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .urdu-wali, h1 {
            direction: rtl;
            font-family: 'MyCustomFont', sans-serif;
            font-optical-sizing: auto;
            font-size: 6vh;
            font-weight: 50;
            font-style: normal;

        }
        .hidden {
            display: none;
        }

        #typing-paragraph {
            font-size: 3vh;
            margin-top: 20px;
            height: 15vh;
            overflow: hidden;
            scroll-snap-type: proximity;
            text-align: justify;
            padding: 2%;
            border: #797979 1px solid;
            border-radius: 4px;
            background-color: #eeeeee;
        }
        input {
            font-size: 18px;
            padding: 10px 30px 10px 0px;
            width: 50%;
            border: 1px solid #ccc;
            float: right;
            border-radius: 5px;
        }
 

        /* Correct and Wrong Styles */
        .correct {
            color: green;
        }
        .wrong {
            color: red;
        }
        .current-word {
            background-color: yellow;
        }

        /* Layout */

        .timee {
            display: flex;
            direction: rtl;
        }
        #time-dropdown {
            float: right;
        }
        
        select, button {
            padding: .8vh;
            font-size: 2vh;
            border: .1vh solid #ccc;
            border-radius: .5vh;
            margin: 1vh .5vh;
        }
        .custom-select {
            position: relative;
            width: 35vh;
            direction: rtl;
        }

        .countdown-timer {
            margin: 0;
            float: left;
            padding: 0vh 1.5vh 0vh 1.5vh ;
            font-size: 5vh;
            border: #333 .1vh solid;
            border-radius: 2vh;
        }
        #countdown {
            font-weight: bold;
            font-size: 5vh;
        }
        select {
            width: 100%;
            padding: 2vh; 
            border-radius: 2vh;
            border: .1vh solid #000000;
            text-align: center;
            font-family: 'MyCustomFont', sans-serif;
            font-weight: 50;
            line-height: 150%;
            height: auto;
            appearance: none;
            background: none;
        }

        .arrow {
            position: absolute;
            left: 4vh; 
            top: 4.5vh; 
            pointer-events: none; 
            font-size: 2.5vh; 
        }


        option {
            line-height: 5vh;
            height: auto;
            border: .1vh solid #000000;
        }
        button {
            background-color: #7072ff;
            color: #fff;
            width: 30vh;
            height: 8vh;
            font-size: 2.5vh;
            padding: 0px 0px 1.vh 0px ;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #0056b3;
        }

        /* Overlay and Alert Styles */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .alert-box {
            background: #fff;
            width: 60vh;
            height: 40vh;
            padding: 20px;
            overflow: hidden;
            border-radius: 8px;
            margin-top: 10%;
            margin-left: 35%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            text-align: center;
            font-size: large bold;
        }
        .close-button {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
        }

        /* Additional Styles */
        #typing-paragraph, #input-box, .urdu-wali, h1 {
            direction: rtl;
            font-family: 'MyCustomFont', sans-serif;
            font-optical-sizing: auto;
            font-weight: 50;
            font-style: normal;
        }
        .down-setting{
            display: flex;
            direction: rtl;
            
        }